<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function () {
            /*方式1：定义组件*/
            var myComp = Vue.extend({
                /*必须要一个根节点*/
                template: '<div><h1>hello component</h1><div>周宇</div></div>'
            })

            /*注意命名规范 连接符-*/
            Vue.component('hello-world', myComp);


            /*方式2*/
            Vue.component('my-world', {
                template: '<h2>周瑜</h2>'

            })
            new Vue({
                el: "#root",
                data: {
                    flag: 'my-table',
                    flag2:'my-change1'

                },
                components: {
                    'my-address': {
                        template: '<h3>江苏南通海安雅周</h3>'
                    },
                    'my-address2': {
                        template: '#myAddress2',
                        data: function () {
                            return {
                                title: "title",
                                list: [1, 2, 3, 4, 5]
                            }

                        }
                    },
                    'my-table': {
                        template: "#myTab",
                        data: function () {
                            return {
                                cur2: 1,
                                Title: ['标题一', '标题二', '标题三'],
                                Context: ['内容一', '内容二', '内容三']
                            }
                        }

                    },
                    'my-tr': {
                        template: "#myTr"
                    },
                    'my-slot': {
                        template: "#mySlot"
                    },
                    'my-change1':{
                        template:'<h1>{{x}}</h1>',
                        data:function () {
                            return {
                                x:Math.random()
                            }

                        }
                    },
                    'my-change2':{
                        template:'<h3>{{x}}</h3>',
                        data:function () {
                            return {
                                x:Math.random()
                            }

                        }
                    }

                }
            })
        }
    </script>

    <style>
        ul, li {
            padding: 0;
            margin: 0;
        }

        .tab-tit li {
            padding: 10px 15px;
            text-align: center;
            list-style: none;
            cursor: pointer;
            display: inline-block;
        }

        .tab-tit .active {
            color: aqua;
            border-bottom: 1px solid aqua;
        }

        .tab-con div {
            margin: 30px;
        }
    </style>

    <template id="myAddress2">
        <div>
            <p>{{title}}</p>
            <ul>
                <li v-for="(v,i) in list">{{v}}</li>
            </ul>
        </div>
    </template>

    <template id="myTab">
        <div>
            <ul class="tab-tit">
                <li v-for="(value,index) in Title" @click="cur2=index" :class="{active:cur2==index}">{{value}}</li>
            </ul>
            <div>
                <div v-for="(value,index) in Context" v-show="cur2==index">{{value}}</div>
            </div>
        </div>
    </template>

    <template id="myTr">
        <tr>
            <td>周瑜</td>
            <td>周宇</td>
        </tr>
    </template>

    <template id="mySlot">
        <div>
            <p>my slot</p>
            <slot name="s1"></slot>
            <p>xxxxxxxx</p>
            <slot name="s2"></slot>
        </div>

    </template>


</head>
<body>
<div id="root">
    <!--创建组件-->
    <hello-world></hello-world>
    <my-world></my-world>
    <my-address></my-address>
    <my-address2></my-address2>
    <my-table></my-table>

    <!--组件高级用法-->
    <table border="1">
        <!--  <my-tr></my-tr>-->
        <!--is指令：表示是一个组件-->
        <tr is="my-tr"></tr>
    </table>

    <!--插槽-->
    <!--设计模式  模板模式-->
    <my-slot>
        <ul slot="s1">
            <li>111</li>
            <li>222</li>
        </ul>
        <ul slot="s2">
            <li>aaa</li>
            <li>bbb</li>
        </ul>
    </my-slot>

    <!--动态组件-->
    <button @click="flag='my-table'">my--table</button>
    <button @click="flag='my-address'">my--address</button>
    <!--bind:is data变量-->
    <component :is="flag"></component>

    <!--状态-->
    <button @click="flag2='my-change1'">my--change1</button>
    <button @click="flag2='my-change2'">my--change2</button>
    <!--bind:is data变量-->
   <!-- <component :is="flag2"></component>-->

    <!--缓存非活动组件-->
    <keep-alive>
        <component :is="flag2"></component>
    </keep-alive>

</div>
</body>
</html>